* {
    background: #fce8f6;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 3%;
}

.main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #0a1871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder {
    color: #0a1871;
}

.text-area:focus {
    outline: none;
}

.mensaje {
    background: #b0749e;
    background-image: url("/imagenes/pata de gato.jpg");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #000000;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-encriptar {
    background: #0a1871;
    border: 1px solid #0a1871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-desencriptar {
    background: #f3f4f8;
    border: 1px solid #0a1871;
    border-radius: 24px;
    color: #0a1871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.copiar {
    border: 1px solid #0a1871;
    border-radius: 24px;
    color: #353f80;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 700px;
    position: relative;
    width: 336px;
}

.informacion {
    color: #0a1871;
    font-size: 18px;
}
